{% extends 'base.html' %}
{% block content %}

    <h1>R&B Music Loading...</h1>
    <nav>
        <li><a href="{% url 'rock' %}">Rock</a></li>
        <li><a href="{% url 'pop' %}">Pop</a></li>
        <li><a href="{% url 'country' %}">Country</a></li>
        <li><a href="{% url 'jazz' %}">Jazz</a></li>
        <li><a href="{% url 'hiphop' %}">Hip Hop</a></li>
        <li><a href="{% url 'rnb' %}">RnB</a></li>
        <li><a href="{% url 'gospel' %}">Gospel</a></li>
        <li><a href="{% url 'reggae' %}">Reggae</a></li>
    </nav>

{% endblock %}